:root {
  --inseto: #729f3f;
  --dragao: #29a7a7;
  --fada: #fdb9e9;
  --fogo: #fd7d24;
  --fantasma: #7c62a3;
  --terrestre: #f5deb3;
  --normal: #a4acaf;
  --psiquico: #f366b9;
  --aco: #9eb7b8;
  --noturno: #171717;
  --eletric: #eed535;
  --lutador: #d56723;
  --voador: #7b68ee;
  --grama: #b0e85b;
  --gelo: #51c4e7;
  --venenoso: #b97fc9;
  --pedra: #a38c21;
  --agua: #239cec;
}
